<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GDAL" version="2.4.3" targetFramework="net472" />
  <package id="GDAL.Native" version="2.4.3" targetFramework="net472" />
  <package id="GDAL.Plugins" version="2.4.3" targetFramework="net472" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NuGet.Commands" version="5.11.5" targetFramework="net472" />
  <package id="NuGet.Common" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Credentials" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.DependencyResolver.Core" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.LibraryModel" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.PackageManagement" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Packaging" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.ProjectModel" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Protocol" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Resolver" version="5.4.0" targetFramework="net472" />
  <package id="NuGet.Versioning" version="5.4.0" targetFramework="net472" />
</packages>